.devicons-html5 {
  &::before {
    color: rgb(200,134,79);
  }
  &:hover {
    color: rgb(200,134,79) !important;
  }
}
.devicons-css3 {
  &::before {
    color: rgb(117,158,179);
  }
  &:hover {
    color: rgb(117,158,179) !important;
  }
}
.devicons-sass {
  &::before {
    color: rgb(230,111,218);
  }
  &:hover {
    color: rgb(230,111,218) !important;
  }
}
.devicons-bootstrap {
  &::before {
    color: rgb(84,73,128);
  }
  &:hover {
    color: rgb(84,73,128) !important;
  }
}
.devicons-javascript_badge {
  &::before {
    color: rgb(240,208,50);
  }
  &:hover {
    color: rgb(240,208,50) !important;
  }
}
.devicons-jquery {
  &::before {
    color: rgb(139,207,242);
  }
  &:hover {
    color: rgb(139,207,242) !important;
  }
}
.devicons-angular {
  &::before {
    color: rgb(202,61,50);
  }
  &:hover {
    color: rgb(202,61,50) !important;
  }
}
.devicons-gulp {
  &::before {
    color: rgb(159,75,73);
  }
  &:hover {
    color: rgb(159,75,73) !important;
  }
}
.devicons-nodejs_small {
  &::before {
    color: rgb(136,179,89);
  }
  &:hover {
    color: rgb(136,179,89) !important;
  }
}
.devicons-postgresql {
  &::before {
    color: rgb(61,151,198);
  }
  &:hover {
    color: rgb(61,151,198) !important;
  }
}
.devicons-mongodb {
  &::before {
    color: rgb(107,162,75);
  }
  &:hover {
    color: rgb(107,162,75) !important;
  }
}
.devicons-ruby {
  &::before {
    color: rgb(157,45,32);
  }
  &:hover {
    color: rgb(157,45,32) !important;
  }
}
.devicons-ruby_on_rails {
  &::before {
    color: rgb(157,45,32);
  }
  &:hover {
    color: rgb(157,45,32) !important;
  }
}
.devicons-firebase {
  &::before {
    color: rgb(237,190,124);
  }
  &:hover {
    color: rgb(237,190,124) !important;
  }
}
.devicons-git {
  &::before {
    color: rgb(226,94,63);
  }
  &:hover {
    color: rgb(226,94,63) !important;
  }
}
.devicons-npm {
  &::before {
    color: rgb(187,73,67);
  }
  &:hover {
    color: rgb(187,73,67) !important;
  }
}
.devicons-bower {
  &::before {
    color: rgb(216,150,86);
  }
  &:hover {
    color: rgb(216,150,86) !important;
  }
}
.devicons-terminal {
  &::before {
    color: white;
  }
  &:hover {
    color: white !important;
  }
}
.devicons-heroku {
  &::before {
    color: rgb(82,88,133);
  }
  &:hover {
    color: rgb(82,88,133) !important;
  }
}
.devicons-netbeans {
  &::before {
    color: rgb(238,175,72);
  }
  &:hover {
    color: rgb(238,175,72) !important;
  }
}
